.item {
  display: inline-block;
  margin-right: 3.5rem;
  cursor: pointer;
}

.outerGradient {
}
.outer {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 9rem;
  width: 9rem;
  border-radius: 100%;
  background-color: #none;
  overflow: hidden;
}
.outer::before {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
  padding: 10px;
  top: -10px;
  left: -10px;
  position: absolute;
  z-index: -1;
}
.outerSeen {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 9rem;
  width: 9rem;
  border-radius: 100%;
  background-color: #none;
  overflow: hidden;
}
.outerSeen::before{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  content: "";
  background: grey;
  padding: 10px;
  top: -10px;
  left: -10px;
  position: absolute;
  z-index: -1;
}
.logo:hover {
  opacity: 0.8;
}

.logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8.3em;
  border-radius: 100%;
  background-color: #122635;
  padding: 0.4rem;
}

.grayScale {
  /*-webkit-filter: opacity(40%);*/
  /*filter: opacity(40%);*/
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /*-webkit-filter: blur(4px);*/
  /*filter: blur(4px);*/
}
