{
	"presets": ["env", "react"],
	"plugins": [
		[
			"react-css-modules",
			{
				"handleMissingStyleName": "warn"
			}
		],
		"react-hot-loader/babel",
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-async-to-generator"
	]
}
