.profile {
  background-color: #122635;
  width: 19.8rem;
  padding: 2rem 1.8rem 1rem 1.8rem;
  height: 100%;
  border: 1px solid #4dcdff;
}

.profile:before {
  content: "";
  position: fixed;

  top: 41px;
  right: 45px;
  border: solid 1rem transparent;
  border-bottom-color: #4dcdff;
}
.notifications:before {
  content: "";
  position: fixed;

  top: 41px;
  right: 101px;
  border: solid 1rem transparent;
  border-bottom-color: #4dcdff;
}
.notifications {
  width: 400px;
  background-color: #122534;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  border: 1px solid #4dcdff;
  /* padding-top: 2.5rem; */
}

.pLista {
  list-style: none;
}

.pListaItem {
  width: 16.2rem;
  height: 2.1rem;
  font-family: Helvetica;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
  float: left;
  cursor: pointer;
}

.pListaItem:first-child {
  margin-bottom: 1.6rem;
}

.input[type="checkbox"] {
  display: none;
}
.input[type="checkbox"]:checked ~ .toggle {
  left: 1.8rem;
  transition: 0.5s;
  background-color: #ffffff;
}
.input[type="checkbox"]:checked ~ .switch {
  transition: 0.5s;
  background-color: #4dcdff;
}

.switch {
  display: block;
  width: 2.3rem;
  height: 0.77rem;
  background-color: #a19e9e;
  border-radius: 1.3rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
  transition: 0.5s;
}

.toggle {
  height: 1.79rem;
  width: 1.79rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  cursor: pointer;
}

.card {
  width: 3.2rem;
  height: 1.8rem;
  position: absolute;
  top: 2.8rem;
  right: 2rem;
}

#switch2:checked ~ .toggle {
  background: #4dcdff;
}
#switch2:checked ~ .switch {
  background: #ffffff;
}

.heading {
  padding: 14px 20px 12px;
  background-color: #54cefd;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: white;
}

.nLista {
  list-style: none;
  padding: 0 1.5rem;
}

.nListaItem {
  position: relative;
  width: 100%;
  border-bottom: 3px solid #07151e;
}

.nListaItem:last-child {
  border-bottom: 3px solid transparent;
}

.nListaItemInner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.6rem 1.3rem 2rem;
}
.old {
  opacity: 0.5;
}

.notifImage {
  flex: 0 0 4.6rem;
  max-width: 4rem;
  background-color: white;
  margin-right: 3rem;
  border-radius: 50%;
}

.notifDetails {
  flex: 1;
}

.date {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.close {
  display: none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.close > svg {
  width: 12px;
  height: 12px;
}

.close > svg path {
  fill: #90969f;
}

.close:hover > svg path {
  fill: #36a3db;
}

.title {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  color: white;
}

.description {
  margin: 0 0 0.1rem;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 300;
  color: white;
}

.seeNotif {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  cursor: pointer;
  color: #54cefd;
  text-transform: uppercase;
  font-size: 1.3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.new{
  width:1.5rem;
  height: 1.5rem;
  background: #4dcdff;
  border-radius: 50%;
}

.seen{
  width:1.5rem;
  height: 1.5rem;
  background: #dcdcdc;
  border-radius: 50%;
}

.seeAllNotif {
  background-color: #07151e;
}

.seeAllNotifLink {
  color: white;
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.1rem 0;
}
